.backgroundUp {
    position: absolute;
    top: -270px;
    left: 0;
    width: 1920px;
    z-index: -1;
}

.backgroundDown {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 100%;
    min-height: 100vh;
    z-index: -2;
}

@media (max-width:823px) and (orientation:landscape) {
    .backgroundUp {
        top: -350px;
    }
}